#header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/*****************************************
* HEADER-BROWN
******************************************/
#header-brown {
  height: 60px;
  background-color: #56514E;
  /* position: absolute; */

}

#header-brown button:hover svg {
  color: #f47b21
}

#header-brown div form button {
  margin-top: 5px;
}


/*****************************************
* HEADER-CYAN
******************************************/
#header-green {
  height: 75px;
  background-color: #66c0ab;
}



#header-green a span {
  display: none;
}

#header-green a:hover span {
  display: inline;
}

#header-green a,
#header-green a svg {
  color: #56514E;
}

/*****************************************
* TOOLS
******************************************/
#tools li {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

#tools li p {
  margin: 0;
}

#tools li b {
  font-size: 2em;
  line-height: 1;
  color: white;
}

#page-area  {
  margin-left: 65px;
  padding-top: 135px; 
}


@media (max-width: 768px) {
  #header-green {
    visibility: hidden;
    height: 0px;
  }

  #page-area {
    padding-top: 60px;
  }
}